<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="/home">Tutorials</a>

        <ul class="navbar-nav ml-auto">
            {{#if isLoggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/home">Welcome, {{username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
            </li>
            {{/if}}
        </ul>
    </nav>

    {{#if message}}
    <section class="notifications">
        <p class="notification-message">{{message}}</p>
    </section>
    {{/if}}

</header>